<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lavish.toprestro">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopRestro">
        <activity android:name=".ui.admin.manageUsers.ManageUsersActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.admin.AdminActivity"/>
        <activity android:name=".ui.admin.manageRestro.ManageRestroActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.admin.AdminActivity"/>
        <activity android:name=".ui.admin.AdminActivity"
            android:label="TopRestro Admin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.owner.OwnerActivity"
            android:label="TopRestro Owner"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.common.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.common.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.user.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.reviews.RestroActivity"
            android:parentActivityName=".ui.user.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>